falcon_multipart==0.2.0
typing==3.6.6
torch==1.1.0
wasabi==0.2.2
boto3==1.9.211
tqdm==4.32.1
wrapt==1.11.2
googledrivedownloader==0.4
stop_words==2018.7.23
allennlp==0.8.3
botocore==1.12.211
gensim==3.8.0
pytest==4.5.0
pytorch_pretrained_bert==0.6.2
spacy==2.1.4
questionary==1.1.1
json_logging==0.0.13
autopep8==1.4.4
pandas==0.24.2
pytorch_crf==0.7.2
colorful==0.5.1
Jinja2==2.10.1
falcon==2.0.0
numpy==1.16.3
click==7.0.dev0
toml==0.10.0
setuptools==41.0.1
requests==2.22.0
scikit_learn==0.21.3
tensorboardX==1.8
torchcrf==1.0.4
