fastapi
networkx
wandb
logzero
typing==3.6.6
torch
wasabi==0.2.2
boto3
tqdm==4.32.1
wrapt==1.11.2
stop_words==2018.7.23
allennlp==0.8.3
botocore
gensim==3.8.0
pytest==5.4.1
pytest-xdist
pytorch_pretrained_bert
spacy==2.1.4
questionary==1.1.1
json_logging
autopep8==1.4.4
pandas==0.24.2
pytorch_crf
colorful==0.5.1
Jinja2==2.10.1
numpy==1.16.3
click==7.0
toml==0.10.0
requests==2.22.0
scikit_learn==0.21.3
tensorboardX==1.8
sphinx
sphinx-rtd-theme
sphinx-autobuild
Deprecated
flair