streamlit
torch==1.5.0
colorful==0.5.1
pytest==5.4.1
psutil==5.7.0
spacy==2.1.4
boto3
pandas
gensim==3.8.0
Deprecated==1.2.7
networkx==2.2
wasabi==0.2.2
logzero==1.5.0
flair==0.5
tqdm==4.32.1
allennlp==0.8.3
wandb==0.8.29
toml==0.10.0
numpy
pytorch_pretrained_bert==0.6.2
stop_words==2018.7.23
questionary==1.1.1
fastapi==0.65.1
scikit_learn==0.22.2
tensorboardX==2.2
werkzeug==2.2.3
overrides==3.1.0
s3transfer==0.4.0
requests
Sphinx==2.4.4
Jinja2
Flask==1.1.1
Flask-Cors==3.0.8
importlib-metadata==3.7.0
docutils==0.15